<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить футболиста</title>
    <link href="/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>


<div class="container">
    <br>
    <h1>Добавить футболиста</h1>
    <br>
    <h4>
        <a href="/" class="btn btn-info">Каталог футболистов</a>
    </h4>
    <hr>
    <form class="form">
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Иван"
                   required minlength="1" maxlength="13" >
        </div>
        <div class="form-group">
            <label for="name">Фамилия</label>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Иванов"
                   required minlength="1" maxlength="13" >
        </div>

        <div class="form-check">
            <label>Пол</label><br>
            <input type="radio" id="male" name="gender" value="Male" required checked>
            <label for="male">Мужчина</label><br>

            <input type="radio" id="female" name="gender" value="Female">
            <label for="female">Женщина</label><br>
        </div>

        <div class="form-group">
            <label for="birthday">День рождения</label><br>
            <input type="date" id="birthday" name="birthday" required value="2003-04-01">
        </div>

        <div class="form-group">
            <label for="team">Команда</label>
            <input list="teamList" type="text" id="team" name="team" class="form-control"
                   required minlength="1" maxlength="13" placeholder="Спартак">
            <datalist id="teamList">
                <option th:each="team : ${teams}" th:value="${team.getName()}">
            </datalist>
        </div>

        <div class="form-check">
            <label>Страна</label><br>
            <input type="radio" id="russia" name="country" value="Russia" required checked>
            <label for="russia">Россия</label><br>
            <input type="radio" id="usa" name="country" value="USA">
            <label for="usa">США</label><br>
            <input type="radio" id="italy" name="country" value="Italy">
            <label for="italy">Италия</label><br>
        </div>

        <button id="send" class="btn btn-success" type="submit">Отправить</button>
    </form>
</div>

<script>
    var socket = new SockJS('/websocket');
    var stompClient = Stomp.over(socket);

    $("form").on('submit', function (e) {
        e.preventDefault();
        stompClient.send("/app/get-footballer", {}, JSON.stringify(
            {
                // 'id': $("#name").val(),
                'name': $("#name").val(),
                'surname': $("#surname").val(),
                'gender': $("input[type=radio][name=gender]:checked").val(),
                'birthday': $("#birthday").val(),
                'team': $("#team").val(),
                'country': $("input[type=radio][name=country]:checked").val()
            }
        ));


        $(':input','.form')
            .not(':button, :submit, :reset, :hidden')
            .prop('checked', false)
            .prop('selected', false);
        $("#name").val('')
        $("#surname").val('')
        $("#team").val('')
        $("#birthday").val('')
    });


</script>

</body>
</html>